/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

.logo h1 {
    font-size: 45px;
    margin-top: -5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    float: left;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-bar {
    display: flex;
    margin-top: 10px;
    float: right;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns, adjust as needed */
    grid-gap: 40px; /* Space between grid items */

}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 32px;
    color: #ff3b3b;
    text-shadow: 1px 1px 2px black;
}

  
/* Grid item styles */
.game-item {
    text-align: center;
}

.game-item img {
    width: 175px;
    height: 175px;
}