/* Reset some default styles */
* {
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

.logo h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    float: left;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-bar {
    display: flex;
    margin-top: 10px;
    float: right;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background-color: #222;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.hero-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.survey-button {
    background-color: #ff3b3b;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.survey-button:hover {
    background-color: #d62c2c;
}

/* Featured Games */
.featured-games {
    padding: 40px 0;
    text-align: center;
}

.featured-games h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-items: center;
    margin-bottom: 100px;
}

.game-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    margin-left: 10px;
    margin-right: 10px; 
}

.game-item img {
    width: 280px;
    height: 200px;
}



/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}