
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: inline-block;
}

.text{
    font-size: 2em;
    letter-spacing: 5px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2.5s steps(32),
        cursor .4s step-end infinite alternate;
    margin-bottom: 5px;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0}
}


/* Header */
header {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

.logo h1 {
    font-size: 45px;
    margin-top: -5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    float: left;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search-bar {
    display: flex;
    margin-top: 10px;
    float: right;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background-color: #222;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

/*
.hero-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
*/


.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.survey-button {
    background-color: #ff3b3b;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.survey-button:hover {
    background-color: #d62c2c;
}



h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    
}

.game-item h2 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -5px;
}

h3 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}



.game-container {
    display: flex;
    height: fit-content;
    justify-content: center;
    overflow: hidden;
  }

  .game-row {
    position: absolute;
    height: fit-content;
    display: flex;
    justify-content: space-between; /* Spread items evenly */
    width: auto; /* Expand to full width */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .game-item {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 65px;
    margin-right: 65px;
    height: fit-content;
    flex-direction: column;
    width: min-content;
    justify-content: space-between;
    flex-basis: calc(33.33% - 30px); /* 3 cells per row */
  }
  
  .game-row.animate {
    opacity: 1; /* Show row */
    
  }



.game-item img {
    width: 200px;
    height: 200px;
}



/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}