*{
    font-family: monospace;
    margin: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 28px;
}

.cancel-button {
    background-color: #ff3b3b;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-variant: small-caps;
    float: right;
}

.cancel-button:hover {
    background-color: #d62c2c;
}

/* Category Selection Section */
.category-section {
    padding: 40px 0;
    text-align: center;
}

.category-section h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    font-variant: small-caps;
}

.category-checkboxes {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 80px;
    max-width: 1200px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    text-align: left;
    font-size: 18px;
}

input[type="checkbox"] {
    padding: 12px 18px;
    border-radius: 4px;
}

.submit {
    background-color: #ff3b3b;
    font-size: 28px;
    color: #fff;
    width: auto;
    height: auto;
    font-weight: bold;
    padding: 2px 12px;
    border-radius: 4px;
    font-variant: small-caps;
}

.submit:hover{
    background-color: #d62c2c;
}