<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SplitBit - Games By Genre</title>
    <link rel="stylesheet" href="genres.css">
</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <div class="logo">
                <h1>SplitBit</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/games">Games</a></li>
                <!-- <li><a href="#">Genres</a></li> -->
                <!-- <li><a href="#">Favorites</a></li> -->
            </ul>
            <!-- <div class="search-bar"> 
                <input type="text" placeholder="Search..."> 
                <button type="submit">Search</button> 
            </div> -->
        </nav>
    </header>

    <h3>Action</h3>
    <section class="grid-container">
        <div th:each="Game : ${actionGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Adventure</h3>
    <section class="grid-container">
        <div th:each="Game : ${adventureGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>


    <h3>Battle Royale</h3>
    <section class="grid-container">
        <div th:each="Game : ${battleroyaleGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>


    <h3>Fighting</h3>
    <section class="grid-container">
        <div th:each="Game : ${fightingGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Music</h3>
    <section class="grid-container">
        <div th:each="Game : ${musicGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Open World</h3>
    <section class="grid-container">
        <div th:each="Game : ${openworldGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Party</h3>
    <section class="grid-container">
        <div th:each="Game : ${partyGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Puzzle</h3>
    <section class="grid-container">
        <div th:each="Game : ${puzzleGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Racing</h3>
    <section class="grid-container">
        <div th:each="Game : ${racingGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Retro</h3>
    <section class="grid-container">
        <div th:each="Game : ${retroGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>


    <h3>Shooter</h3>
    <section class="grid-container">
        <div th:each="Game : ${shooterGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Sports</h3>
    <section class="grid-container">
        <div th:each="Game : ${sportsGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Strategy</h3>
    <section class="grid-container">
        <div th:each="Game : ${strategyGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Survival</h3>
    <section class="grid-container">
        <div th:each="Game : ${survivalGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>

    <h3>Tactical</h3>
    <section class="grid-container">
        <div th:each="Game : ${tacticalGames}" class="game-item">
            <img th:src="${Game.image}" alt="Game Image" />
            <h2 th:text="${Game.title}"></h2>
            <!-- Add more game information as needed -->
        </div>
    </section>




</body>
</html>