<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <title>SplitBit</title>
    <link rel="stylesheet" href="/main.css">
    </link>

    <script>
        var currentIndex = 0;
        var randomGameContainer = document.getElementById('randomGameContainer');

        function updateRandomGame() {
            currentIndex = (currentIndex + 1) % randomGames.length;
            var randomGame = randomGames[currentIndex];

            randomGameContainer.innerHTML = `
                <img th:src="${randomGame.image}" alt="Game Image" />
                <h2 th:text="${randomGame.title}"></h3>
            `;
        }

        // Initial update
        updateRandomGame();

        // Update every 5 seconds
        setInterval(updateRandomGame, 5000);
    </script>

</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="logo">
                <h1>SplitBit</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/genres">Genres</a></li>
                <!-- <li><a href="#">Favorites</a></li> -->
            </ul>
            <!--<div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div> -->
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <p class="text">Discover Your Next Favorite Game</p>
        </div>
        <div class="hero-content">
            <p>Explore a vast library of video games according to your interests!</p>
            <a href="/survey" class="survey-button">Find Games</a>
        </div>
    </section>

    <h3>Here's a few recommendations!</h3>


    <div th:each="gameRows : ${randomGames}" class="game-container">
        <div class="game-row">
            <div th:each="games: ${gameRows}">
                <div th:each="Game : ${games}" class="game-item">

                    <img th:src="${Game.image}" alt="Game Image"></img>
                    <h3 th:text="${Game.title}"></h3>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('.game-row');
            let currentRowIndex = 0;

            function showNextRow() {
                if (currentRowIndex > 0) {
                    rows[currentRowIndex - 1].classList.remove('animate');
                    rows[currentRowIndex].classList.add('animate');
                }else{
                    rows[currentRowIndex].classList.add('animate');
                }
                currentRowIndex = (currentRowIndex + 1) % rows.length;
            }

            setInterval(showNextRow, 2000); // Show next row every 2 seconds
        });


    </script>



    <!-- Footer -->
    <footer>
        <p>&copy; 2023 SplitBit. All rights reserved.</p>
    </footer>
</body>

</html>